<div class="container-fluid" style="margin-bottom: 70px;">
  <div class= "map-box">
    <%= render 'layouts/map' %>
    <div class="row">
      <div class= "col-md-12 position" id="map">
        <div class="heading-container col-md-12">
          <div class="col-md-12 header-box">
            <h1 class="home-text">Adventure</h1>
              <h1 class="home-text">Is Right Here</h1>
            <span id="home-button"><%= link_to "Take a Walk", new_walk_path, class: "btn btn-success btn-home btn-lg" %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
