<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your photo has been uploaded, <%= @user.name %>!</h1>
    <p>Your photo has been uploaded to the Sight! Thanks for contributing!</p>
  </body>
</html>
