<div class= "walk-container" style="margin-bottom: 70px;">
  <div class="row" style="padding-top: 50px;">
    <div class="col-md-6">
      <div class= "route" id="locations-list">
        <div class="route-content">
          <div class= "title">
            Sights On This Walk
          </div>
          <ul>
            <% @sights.each do |sight|%>
              <li class="city_state_zip"><%= sight %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class= "route" id="route">
        <div class="route-content">
          <div class= "title" id= "step_distance">Walk </div>
          <div id="all-legs" class="all-legs">
          </div>
          <div class="all-legs">
            <div class="leg">
              <div class="waypoint">
                <img width="16" height="16" align="left" src="http://www.iconsdb.com/icons/preview/guacamole-green/circle-outline-xl.png" class="icon"></img>
                <div class="street-address">
                  <%= "#{@walk.finish_location.street}," %>
                </div>
                <div class= "city_state_zip">
                  <%= "#{@walk.finish_location.city}, #{@walk.finish_location.state} #{@walk.finish_location.zipcode}" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div id= "sight_id">
      <% @sight.id %>
    </div>
    <div class="col-md-6 sticky-map">
      <%= render 'layouts/directions_map' %>
    </div>
  </div>
</div>
