<div class="row">
  <div id="route" class="col-md-3">
    <h1><%= @walk.name %></h1>
    <h2><div id= "distance"> Walk</div></h2>
    <ul>
      <li>
        <h4>
          <div class="start_location">
            <%= @walk.start_location.address %>
          </div>
        </h4>
      </li>
      <li>
        <div id="waypoints">
        </div>
      </li>
      <ol>
        <div id="steps">
        </div>
      </ol>
      <li>
        <h4>
          <div class="end_sight">
            <%= @walk.start_location.address %>
          </div>
        </h4>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <%= render 'layouts/directions_map' %>
  </div>
</div>
