<% if request.path == "/" %>
  <nav class="navbar navbar-fixed-bottom" role="navigation">
<% else %>
  <nav class="navbar navbar-fixed-bottom navbar-not-home" role="navigation">
<% end %>
  <div class="container-fluid">
    <p class="navbar-nav navbar-text-bottom-left"><a href="#" class="navbar-link">About Me</a></p>
    <p class="navbar-nav navbar-text-bottom-left"><a href="#" class="navbar-link">Contact</a></p>
    <p class="navbar-right navbar-text">A <a href="https://github.com/Hilaryous/walkabout" class="navbar-link">Hilaryous</a> Project</p>
  </div><!-- /.container-fluid -->
</nav>
