<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <p class="navbar-text navbar-nav"><a href="#" class="navbar-link">About Us</a></p>
    <p class="navbar-text navbar-nav"><a href="#" class="navbar-link">Contact</a></p>
    <p class="navbar-text navbar-right">A <a href="#" class="navbar-link">Hilaryous</a> Project</p>
  </div><!-- /.container-fluid -->
</nav>
